html,
body {
    height: auto;
    width: 100%;
}



.crm-faq2-screen-main{
    background: #F3F6F9;
   


}

.crm-faq2-screen-main-p1{
    font-size: 1.4rem;
    color: #2E2C34;
    font-weight: 600; 
    padding: 0.5% 0% 0% 1.5%;
}

.brightlink-FAQ-section-how1-support {
    background-image: linear-gradient(#2354c5, #ffffff);
    width: 100%;
    height: auto;
    margin-top: 10px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
}

.brightlink-FAQ-section-1start-how-support {
    background-color: #ffffff;
    margin: 1% 1% 1% 1%;
    width: 100%;
}


.brightlink-FAQ-section-1start-how-secotion1-howpara{
    display: flex;
    align-items: center;
    justify-content: center;
}


.brightlink-FAQ-section-1start-how-secotion1-howpara-lets-button{
    display: flex;
    align-items: center;
    justify-content: center;

}
.how-para{
    display: flex;
    justify-content: center;
    font-size: 3rem;
    font-weight: 900;
    color: #170f49;
    font-family: "DM Sans", sans-serif;
     
}
h2{
    margin: 5% 2% 2% 2%;
}
.lets-para{
    display: flex;
   justify-content: center;
   font-size: 1rem;
   font-weight: 400;
   line-height: 30px;
   color: #6F6c90;
}

.brightlink-FAQ-section-1start-how-secotion1-howpara-lets-button-query{
    display: flex;
    background-color: #ffffff;
    border-radius: 40px;
    height: auto;

    border: 1px solid  #ffffff ;
    box-shadow: 6px 7px 33px -10px;
    justify-content:space-between;
    padding: 6px 10px 6px 10px;

}
.button-enter{
    display: flex;
   align-items: center;
   color: #6F6c90;
}
.button-search{
     

    width: 130px;
    
    border-radius: 27px;
     /* margin-top: 10px; */
     background-color: #2354c5;
     display: flex;
     justify-content: center;
    align-items: center;
     color: white;
     padding: 2px 3% 3px 3%;
}




.brightlink-FAQ-section-1start-how-secotion1-howpara-lets-button-query-input-filed{
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}
.brightlink-FAQ-section-1start-how-secotion1-howpara-lets-button-query-input-filed:focus{
    border: none;
    outline: none;
    box-shadow: none !important;
}

/* second */
.brightlink-faq-section2-question-part-que{
    height:auto;
    width: 100%;
    /* border: 1px solid blue; */
    border-radius: 5px;
    background-color: #ffffff;
    padding-top: 1%;
    padding-bottom: 2%;
}
 .brightlink-faq-section2-question-part:hover{
    border: 2px solid #4A3AFF;
    border-radius: 8px;
 }
 
.fas{
    color: white;
}

.faq-p-question-button-para{

  margin: 0% 0% 0% 2%;
  font-family: "DM Sans", sans-serif;
color: #3C3C43D9;
font-size: 1rem;
font-weight: 600;
line-height: 22.4px;
text-align: justify;
margin-left: 2%;

}


.buttons{
    display: flex;
    gap: 30px;
    
}
#btn {
    background-color: #170f49;
    color: #ffffff;
}
 





.faq-p-question{
    font-family: "DM Sans", sans-serif;
    font-weight: 600;
    color: #000000;
    font-size: 1.3rem;
    margin: 1% 0% 0% 1% !important;
}




@media (min-width:310px) and (max-width:769px){

    .how-para {
        font-size: 1.8rem;
    }

} 



@media (min-width:310px) and (max-width:999px){


    .crm-faq2-hcwhy-img-div{
        justify-content: center;
        margin-top: 1%;
        
    }
    .brightlink-faq-section2-question-partque1section1answer{
      text-align: center;
    }
}
@media (min-width:300px) and (max-width:400px){
    .faq-p-question-button {
        height: 28px !important;
        width: 35px;
        border-radius: 20px;
        border: 1px solid rgb(40, 40, 229);
        display: flex;
        background-color: #2354c5;
        justify-content: center;
        align-items: center;
    }
    .brightlink-FAQ-section-1start-how-secotion1-howpara-lets-button-query {
        display: flex;
        background-color: #ffffff;
        border-radius: 60px;
 

    }
    .buttons {
        display: flex;
        gap: 20px;
        display: grid;
    
        
    }
    .brightlink-FAQ-section-1start-how-secotion1-howpara-lets-button-query {
        display: flex;
        background-color: #ffffff;
        border-radius: 60px;

   
}
/* .brightlink-faq-section2-question-partque1section1{
    text-align: center;
} */

}
@media (min-width:400px) and (max-width:600px){
    .buttons {
        display: flex;
        
        display: grid;
        
    }
  

    .brightlink-FAQ-section-1start-how-secotion1-howpara-lets-button-query {
        display: flex;
        background-color: #ffffff;
        border-radius: 60px;



}
    }


@media (min-width:600px) and (max-width:800px){
    .buttons {
        display: flex;
        gap: 0px !important;
        
    }
    
}

@media (min-width:600px) and (max-width:700px){
    .buttons {
        display: flex;
        
        display: grid;
        
    }
}


@media (min-width:800px) and (max-width:1200px){
    .buttons {
        display: flex;
        gap: 0px !important;
        
    }
    
}
 .brightlink-faq-section2-question-partque1{
    width: auto;
justify-content: flex-start;
align-items: flex-start;

    height: auto;
    top: 628.77px;
    background: #fff;
    
    /* box-shadow: 3px 3px 3px 3px rgb(189, 184, 184); */
    padding: 10px 5px 10px 5px;
    box-shadow: 0px 5px 16px 0px #080F340F;
border-radius: 10px;

}

.brightlink-faq-section2-question-partque1:hover{
    border: 2px solid #4A3AFF;
    border-radius: 8px;
}
.brightlink-faq-section2-question-part-que-ans
{
    width: 100%;
    height: auto;
    top: 405.17px;
    left: 246.14px;
    border: 2px solid #FFFFFF
}

.brightlink-faq-section2-question-partque1section1{
   
font-family: "DM Sans", sans-serif;
    font-weight: 600;
    color: #000000;
    font-size: 1.3rem;
     margin: 1% 0% 0% 2%;
     /* padding: 15px 10px 15px 10px !important;
     */
     display: flex;
     
    

}

.brightlink-faq-section2-question-partque1section1answer{
    
    color: #3C3C43D9;
font-family: "DM Sans", sans-serif;
font-size: 1rem;
font-weight: 600;
line-height: 22.4px;
text-align: justify;
margin-bottom: 1% !important;
margin-right: 30% !important;
margin-left: 2%;

}

.brightlink-faq-section2-question-part{
    width: auto;
    justify-content: flex-start;
    align-items: flex-start;
    
        height: auto;
        top: 628.77px;
        background: #fff;
    
        box-shadow: 0px 5px 16px 0px #080F340F;

        padding: 10px 5px 10px 5px;
}
.accordion-content {
    display: none;
    max-height: 0; /* For transitions */
    overflow: hidden; /* Prevent overflow during transition */
    transition: max-height 0.3s ease;
}
.accordion-content.show {
    display: block; /* or change to max-height to trigger transition */
    max-height: 200px; /* or an appropriate value based on your content */
}

   .accordion-item .accordion-title {
    position: relative;
    cursor: pointer;
    padding-left: 25px; /* Ensure space for the arrow */

    
}


.accordion-item .accordion-title::before {
    content: "\f054"; /* Font Awesome right arrow */
    font-family: "Font Awesome 6 Free"; /* Ensure Font Awesome 6 is loaded */
    font-weight: 900; /* Ensure the correct weight is used */
      position: absolute;   
    left: 99%; /*Position the arrow to the left */
    top: 50%;
    transform: translateY(-50%); 

    /* Center vertically */
    transition: transform 0.3s ease;
    /* height: 29px; */
 
    width: 2.5%; 
    border-radius: 70px;
    
    box-shadow: 0px 5px 16px 0px #080F340F;


    
}

.accordion-item.active .accordion-title::before {
    transform: translateY(-50%) rotate(90deg);  
    

}
.accordion-item.active .accordion-title::before {
  height: 29px;
width: 30px; 
border: 1px solid blue;
border-radius: 30px;
background-color: blue;
color: white; 
display: flex;
align-items: center;
justify-content: center;
}
